.navbar .container-fluid {
    max-width: 1200px;
    width:80%;
    justify-content: space-between;

}

.navbar .container-fluid .input-group {
    width:unset;
}

.navbar .container-fluid .navbar-collapse{
    flex-grow:unset;
}