:root {
    --primary-color: #3285a8;
    --background-secondary : whitesmoke;
}
* {
    font-family: 'poppins';
}

.navbar .container-fluid{
    max-width: 1300px;
    width: 90%;
    justify-content: space-between;
}

.navbar .container-fluid .input-group {
    width:unset;
}

.navbar .container-fluid .navbar-collapse{
    flex-grow:unset;
}

.login {
    border-radius: 1rem;
    padding: 2rem;
    max-width: 600px;
    margin: auto;
    margin-top: 1rem;
}

.main{
    max-width: 1300px;
    width: 90%;
    margin:auto;
}

.btn-outline-mine {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}
.btn-outline-mine:hover{
    color: #fff !important;
    background-color: var(--primary-color) !important;
}